<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      :root {
        --blue: #0071ff;
        --light-blue: #b6dbf6;
        --dark-blue: #005dd1;
        --grey: #f2f2f2;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: var(--light-blue);
      }

      .container {
        max-width: 400px;
        width: 100%;
        background: #fff;
        padding: 30px;
        border-radius: 30px;
      }

      .img-area {
        position: relative;
        width: 100%;
        height: 240px;
        background: var(--grey);
        margin-bottom: 30px;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .img-area .icon {
        font-size: 100px;
      }

      .img-area h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 6px;
      }

      .img-area p {
        color: #999;
      }

      .img-area p span {
        font-weight: 600;
      }

      .img-area img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 100;
      }

      .img-area::before {
        content: attr(data-img);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-weight: 500;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 200;
      }

      .img-area.active:hover::before {
        opacity: 1;
      }

      .select-image {
        display: block;
        width: 100%;
        padding: 16px 0;
        border-radius: 15px;
        background: var(--blue);
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .upload-image {
        display: block;
        width: 100%;
        padding: 16px 0;
        border-radius: 15px;
        background: green;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .select-image:hover {
        background: var(--dark-blue);
      }
    </style>
  </head>
  <body>
    <% include("templates/header") %>
    <div class="container">
      <h2 class="pt-4">Upload Background Image</h2>
      <form
        id="edit-profile-form"
        action="/editBackPic"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="id" value="<%= userId %>" />
        <div class="imgcontainer">
          <input type="file" id="image_input" name="image" hidden />
          <div class="img-area" data-img="">
            <i class="bx bxs-cloud-upload icon"></i>
            <h3>Upload Image</h3>
            
            <img
              id="uploaded-image"
              alt="Uploaded Image"
              style="display: none"
            />
          </div>
          <button type="button" class="select-image">Select Image</button>
          <div id="display_image"></div>
        </div>
        <button type="submit" class="upload-image">Upload Image</button>
      </form>
    </div>

    <script>
      const imageInput = document.querySelector("#image_input");
      const imgArea = document.querySelector(".img-area");
      const uploadedImageElement = document.querySelector("#uploaded-image");

      document.querySelector(".select-image").addEventListener("click", () => {
        imageInput.click();
      });

      imageInput.addEventListener("change", function () {
        const reader = new FileReader();
        reader.addEventListener("load", () => {
          const uploadedImage = reader.result;
          uploadedImageElement.src = uploadedImage;
          uploadedImageElement.style.display = "block";
          imgArea.classList.add("active");
          imgArea.querySelector("i").style.display = "none";
          imgArea.querySelector("h3").innerText = "Image Selected";
          imgArea.querySelector("p").innerText = "Change Image";
        });
        if (this.files && this.files[0]) {
          reader.readAsDataURL(this.files[0]);
        }
      });

      // Append the uploaded image file to the FormData object
      const formData = new FormData();
      formData.append("id", "<%= userId %>"); 
      // Handle form submission
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // Append the image file to the FormData object
        formData.append("image", imageInput.files[0]);
        try {
          const response = await fetch("/editBackPic", {
            method: "POST",
            body: formData,
          });

          if (response.ok) {
            console.log("Image uploaded successfully");
            window.location.href = "/members"; // Redirect on success
          } else {
            const errorMessage = await response.text();
            console.error("Failed to upload image:", errorMessage);
          }
        } catch (error) {
          console.error("Error:", error);
        }
      });
    </script>

    <% include("templates/footer") %>
  </body>
</html>
