<%- include("templates/header") %> 
<section class="showcase">
  <header>
    <h2 class="logo">Travel</h2>
    <div class="toggle"></div>
  </header>
  <video src="landing.mp4" muted loop autoplay></video>

  <div class="overlay"></div>

  <div class="text">
    <h2>Capture Today,</h2>
    <h3>Relive Tomorrow.</h3>
    <p>Where moments unite seamlessly stored, shared, and cherished. Organize life’s treasures effortlessly! 
    </p>
    <button class="btn btn-light rounded-pill px-3" type="button"><a href="/loginSignUp">Explore</a></button>
    
  </div>
  <ul class="social">
    <li><a href=""><img src="like.png" width="50px" alt=""></a></li>
    <li><a href=""><img src="bird.png" width="50px" alt=""></a></li>
    <li><a href=""><img src="hourglass.png" width="50px" alt=""></a></li>
  </ul>
</section>

<div class="menu">
  <ul>
    <li><a href="#">home</a></li>
    <li><a href="#">signup</a></li>
    <li><a href="#">login</a></li>
    <li><a href="#">member</a></li>
    <li><a href="#">media</a></li>
  </ul>
</div>
<%- include("templates/footer") %> 
