<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --overlay-color: #9999ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.8s;
}

.showcase.active {
    right: 350px;

}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('hamburgerwhite.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('closewhite.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* #ffcfee  #ffe505*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffcfee;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 2px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    /* display: inline-block; */
    font-size: 1em;
    /* background: white; */
    /* padding: 10px 30px; */
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.8);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(1) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 5rem;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

/* #ffcfee ffe505 #9999ff */
.menu ul li a:hover {
    color: var(--overlay-color);
}

@media(max-width: 798px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}
</style>
<body>
 <%- include("templates/header") %>
<section class="showcase">
  <header>
    <h2 class="logo">Time Capsule</h2>
  </header>
  <video src="landing.mp4" muted loop autoplay></video>

  <div class="overlay"></div>

  <div class="text">
    <h2>Capture Today,</h2>
    <h3>Relive Tomorrow.</h3>
    <p>Where moments unite seamlessly stored, shared, and cherished. Organize life’s treasures effortlessly! 
    </p>
    <button class="btn btn-light rounded-pill px-3" type="button"><a href="/loginSignUp">Explore</a></button>
    
  </div>
  <ul class="social">
    <li><a href=""><img src="like.png" width="50px" alt=""></a></li>
    <li><a href=""><img src="bird.png" width="50px" alt=""></a></li>
    <li><a href=""><img src="hourglass.png" width="50px" alt=""></a></li>
  </ul>
</section>

<div class="menu">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/loginSignUp">signup</a></li>
    <li><a href="/loginSignUp">login</a></li>
    <li><a href="/loginSignUp">member</a></li>
  </ul>
</div>
<script src="landing.js"></script>
</body>