<%- include("templates/header") %> 
<div class="container col-xxl-8 px-4 py-5" id="hero">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/hero_background.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Memory Lane</h1>
      <p class="lead">Capture, organize, and share the precious moments of your life with MemoryLane. Our platform allows you to seamlessly store text, images, and videos all in one place, making it easier than ever to keep your cherished memories together and share them with your loved ones. Say goodbye to the hassle of scattered files and experience the convenience of having everything in one organized folder. Start creating and preserving your life's important moments with MemoryLane today.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href=""
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Enter</button>
      </div>
    </div>
  </div>
</div>


<%- include("templates/footer") %> 